    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'Roboto', sans-serif;
    }
    .container{
        width: 90%;
        margin: 0 auto;
        
    }


    .half-width{
        width: 50%;
        float: left;
        margin: 30px 0;
        height: 470px;
        
    }
    .half-width img{
            width: 90%;
        
    }
    
    .button{
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-image: linear-gradient(60deg,#ee775c,#eb6a4e);
        padding: 10px 20px;
        margin-top: 10px;
        color: #fff;
        font-weight:500;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 2px 5px 15px #eb6a4e;

    }
    .button:hover{
        background-image: linear-gradient(60deg,#ee775c,#d34f32);
    }
    .highlighted-text{
        color: #FF8367;
    }




    /**** Header Area ****/

    #menu ul{
        text-align: right;
        padding: 30px 0;
        
        
    }
    #menu ul li{
        list-style: none;
        display: inline-block;
        
    }

    #menu a{
        text-decoration: none;
        color: #000;
        padding: 0 15px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}

    #menu a:hover{
        color: #eb6a4e;
        cursor: pointer;
    }




    /*** Hero Section **/


    .hero-section{
        overflow: hidden;
    }
    .hero-section h1 {
        margin-top: 7.81vw;
        font-size: 80px;
        font-weight: 700;
    }
    
    .half-width p{
        font-size: 16px;
        margin: 20px 0;
        line-height: 24px;
    }





    /**** ABOUT AREA ****/


   .about-area{
        overflow: hidden;
        margin-bottom: 50px;
   }
    .about-area  h2 {
        font-size: 48px;
        font-weight: 700;
        margin-top: 11.71vw;
    }
    




    /*** Latest Section ***/

    .latest-section{
        background-color: #F8f9fc;
        padding: 100px 0 100px  0;
        overflow: hidden;
    }
    .latest-section img{
        width: 100%;
    }

    .latest-section h2{
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 80px;
    }
    .latest-section .project-details{
        width: 30%;
        float: left;
        background-color: #fff;
        padding: 1%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

    .latest-section .project-details.middle{
        margin: 0 2%;
    }
    .project-details{
        box-shadow: 12px 13px 16px #e2e2e2;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
    .project-details:hover{
        box-shadow: 12px 13px 16px #ff634724;
        transform: scale(1.04);
        cursor: pointer;
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
}
    .project-details h3{
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0;
    }
    .project-details p{
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 20px;
    }
   



    /*** Testimonial Section ***/

    .testimonial-section{
        padding: 100px 0;
    }
    .tesitmonial{
        width: 70%;
        margin: auto;
    }
    .testimonial-section h2 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 80px;
    }

    .tesitmonial img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    .tesitmonial p{
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0;
        font-style: italic;
    }
    .tesitmonial h6{
        text-align: center;
        font-size: 12px;
        font-style: italic;
    }


    /** Chat area ***/
    
    .chat-box{
        background-image: url(images/background.png);
        height: 225px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    .chat-box .chat-text{
        width: 70%;
        float: left;
        margin-top: 90px;
    }
  
    .chat-box .chat-button{
        width: 20%;
        margin-top: 90px;
        float: right;
    }

    .chat-box h2 {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        margin-left: 80px;
    }



    /*** Footer Area **/


    footer{
        padding: 100px 0 50px 0;
    }
    footer p{
        color: #696871;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    footer h2{
        font-size: 36px;
        font-weight: 700;
        text-align: center; 
        margin-bottom: 30px;       
    }
    footer ul{
        text-align: center;
    }

    footer ul li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
    }

    footer img{
        width: 40px;
        height: 40px;
    }

